.container{
    width:100%;
}


.product {
    border-radius: 15px;
    margin-bottom: 2em;
    border:1px solid var(--secondary-colour);
    height:250px;
}

.product {
    border-radius: 15px 15px 15px 15px;
    margin-top:6em;
}

footer{
    display:flex;
    justify-content:space-between;
    background-color: var(--primary-colour);
    color:black;
    margin-top: 6em;
}
